@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Rubik', sans-serif;
    -webkit-tap-highlight-color: transparent;
  }

  .toggle-switch {
    position: relative;
    width: 80px;
    height: 40px;
    -webkit-appearance: none;
    appearance: none;
    background: #ccc;
    outline: none;
    border-radius: 2rem;
    cursor: pointer;
    transition: 1s ease all;
  }

  .toggle-switch::before {
    content: url('./assets/moon.svg');
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7px;
  }

  .toggle-switch:checked::before {
    transform: translateX(100%);
    background: #fff;
    content: url('./assets/sun.svg');
  }

  .toggle-switch:checked {
    background: #4ade80;
    transition: 1s ease all;
  }
  .lang-switch {
    position: relative;
    width: 80px;
    height: 40px;
    -webkit-appearance: none;
    appearance: none;
    background: #ccc;
    outline: none;
    border-radius: 2rem;
    cursor: pointer;
    transition: 1s ease all;
  }

  .lang-switch::before {
    content: url('./assets/CircleFlagsIl.svg');
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7px;
  }

  .lang-switch:checked::before {
    transform: translateX(100%);
    background: #fff;
    content: url('./assets/CircleFlagsUk.svg');
  }

  .lang-switch:checked {
    background: #4ade80;
    transition: 1s ease all;
  }
}
